**/node_modules
**/dist
**/.expo
**/.expo-shared
**/.next
**/.cache
**/.local
**/out-tsc
**/tmp
**/*.tsbuildinfo
**/static-build
**/.metro-cache
.git
.github
.vscode
.idea
.DS_Store
npm-debug.log
yarn-error.log
artifacts/fruit-clash/static-build
artifacts/mockup-sandbox/dist
